20april2023/designtimeMds/SOA/apps/20april2023/cardvalidationsystem/Schemas/BPELProcess1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/20april2023/cardvalidationsystem/BPELProcess1"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="cardreq">
    <complexType>
      <sequence>
        <element name="ccnumber" type="integer"/>
        <element name="ccvendor" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="cardres">
    <complexType>
      <sequence>
        <element name="ccnumber" type="integer"/>
        <element name="ccvendor" type="string"/>
        <element name="ccstatus" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>