20april2023/helloworld1/SOA/Schemas/response.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/response/output"
            targetNamespace="http://www.example.org/response/output" elementFormDefault="qualified">
  <xsd:element name="exampleElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
   <xsd:element name="reponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="wish" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
   </xsd:element>
</xsd:schema>
